@model List<Library.Models.Book>

@{
    ViewData["Title"] = "Book Manager";
}

<h2>Book Manager</h2>

<p>
    <a asp-action="Create">Create New Book</a> |
    <a asp-action="CreateAuthor">Create New Author</a> |
    <a asp-action="CreatePublisher">Create New Publisher</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Publisher)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>