@model List<Library.Models.Book>

@{
    ViewData["Title"] = "Book List";
}

<h2>Book List</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Publisher)
        </th>
        <th>
            Reserved
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    if (item.IsReservedByUser)
                    {
                        <span class="text-success">Reserved</span>
                    }
                    else
                    {
                        <a asp-action="Reserve" asp-route-id="@item.BookId">Reserve</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>